@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #eef1fe; */
  background-color: #212834;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navItem {
  margin: 2vw 3vw;
  font-size: 1.4vw;
  text-decoration: none;
  /* color: #525666; */
  color: #cdcdcd;
  transition: 300ms;
}

.navItem:hover {
  color: #00aaff;
}

.mainBody {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainBody .image img{
  width: 32.5vw;
  margin-left: 2vw;
  margin-top: -3vw;
  /* filter: grayscale(100%); */
  transition: 500ms;
}

.mainBody .image img:hover{
  filter: grayscale(0);
}

.mainBody .image{
  flex: 1;
  align-self: flex-end;
}

.mainBody .info {
  margin-left: 15vw;
  font-size: 1.7vw;
  flex: 1;
  /* color: #525666; */
  color: #00ffea;
}

.mainBody .info h3{
  margin: 1vw 0;
  font-size: 3.5vw;
}

.mainBody .info p{
  color: #aaff00;
}

h3 font{
  color:#00b3ff
}

.aboutButton{
  font-size: 1.5vw;
  text-decoration: none;
  color: #222834;
  background-color: #3bff5c;
  padding: 1vw;
  border-radius: 1.5vw;
  font-weight: 500;
  transition: 400ms;
}

.aboutButton:hover{
  background-color: #00ff88;
}

.socials{
  display: flex;
  align-items: center;
}

.socials img{
  margin: 2vw 1vw;
  width: 2.2vw;
}


#imageLogo {
  margin-top: -50px;
}

