.contactBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2vw 10vw;
  background-image: linear-gradient(135deg, #faebd7eb, #ffe5bdd9);
  padding: 2.5vw;
  border-radius: 3vw;
  border: 5px #fff solid;
  /* box-shadow: 0 0 5vw #FAEBD7; */
  box-shadow: 0 0 1vw #FAEBD7;
  overflow: hidden;
}

form{
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 4vw;
}

form input{
  width: 20vw;
  height: 3vw;
  padding-left: 1vw;
  font-size: 1.5vw;
  border-radius: 1vw;
  background-color: #5a290026;
  border: 2px rgb(156, 125, 47) solid;
}

form input::placeholder{
  color: rgb(49, 49, 49);
}

#description{
  width: 40vw;
  max-width: 70vw;
  min-width: 20vw;
  height: 5vw;
  min-height: 2vw;
  padding: 1vw;
  font-size: 1.3vw;
  font-family: "Poppins", sans-serif;
  background-color: #5a290026;
  border: 2px rgb(156, 125, 47) solid;
  border-radius: 0.5vw;
}

#description::placeholder{
  color: rgb(49, 49, 49);
}

#send {
  text-decoration: none;
  color: #f00;
  font-weight: 600;
  margin-top: 2vw;
  font-size: 2vw;
  transition: 500ms;
}

#send:hover{  
  font-size: 2.5vw;
}